<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="/">Green Exchange</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <li class="nav-item active">
        <a class="nav-link" href="/dashboard">Dashboard</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/posts">My Posts</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/post">New Post</a>
      </li>
    </ul>
    <div class="nav navbar-nav navbar-right ml-auto">
        {{#if user}}
            <span style="color: white">
              Logged in as {{user.email}}
              &nbsp;
              <a class="btn btn-info" href='/logout'>Logout</a>
            </span
        {{else}}
        <a class='btn btn-primary' href='/signup/'>Signup</a>
        <form id="signin" name="signin" method="post" action="signin">
            <label style="color: white" for="email">Email Address</label>
            <input class="text" name="email" type="text" />
            <label style="color: white" for="password">Password</label>
            <input name="password" type="password" />
            <input class="btn" type="submit" value="Sign In" />
        </form>
        {{/if}}
    </div>
  </div>
</nav>
