<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        {{>head}}
        <title>Basics</title>
    </head>
    <body>
        <div class="container-fluid">
            <div class="row">
                <div class="col-xs-12 col-lg-12">
                    {{>navbar}}
                </div>
            </div>

        </div>

        <br>

        <div class="container-fluid">
            {{{body}}}
        </div>

    </body>
</html>
