my posts
<ul>
{{#each postList}}
  <li>
      <p>Type: {{weed_type}}</p>
      <p>Strain: {{strain}}</p>
      <p>Description: {{description}}</p>
      <img src='/static/img/{{upl}}'>
      <hr>
  </li>
{{/each}}
</ul>